<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gojls.secret.dao.SecretDao">
	<select id="selectTotalUploadCount" resultType="_int">
		<![CDATA[
		SELECT COUNT(*)
		FROM TB_H1K_EVENT_DLIVE
		WHERE USE_YN = 'Y'
		]]>
	</select>

	<select id="selectContents" resultMap="content">
		<![CDATA[
		SELECT *
		FROM (SELECT
			      TB_H1K_EVENT_DLIVE.*,
			      rank()
			      OVER (
				      ORDER BY H1K_DLIVE_SEQ DESC ) AS rnum
		      FROM TB_H1K_EVENT_DLIVE
		      WHERE USE_YN = 'Y'
		)
		WHERE RNUM BETWEEN (#{rowsPerPage} * (#{page} - 1)) + 1 AND #{rowsPerPage} * #{page}
		ORDER BY rnum
		]]>
	</select>
	<select id="selectRandomContents" resultMap="content" parameterType="_int">
		<![CDATA[
		SELECT *
		FROM (SELECT *
		      FROM TB_H1K_EVENT_DLIVE
		      WHERE USE_YN = 'Y'
		      ORDER BY DBMS_RANDOM.VALUE
		)
		WHERE ROWNUM <= #{count}
		]]>
	</select>
	<select id="selectOwnContents" resultMap="content" parameterType="string">
		<![CDATA[
		SELECT *
		FROM TB_H1K_EVENT_DLIVE
		WHERE USER_SEQ = #{userSequence}
		      AND USE_YN = 'Y'
		ORDER BY REG_TS DESC
		]]>
	</select>
	<resultMap id="content" type="com.gojls.secret.model.Content">
		<constructor>
			<idArg column="H1K_DLIVE_SEQ" javaType="_long" />
			<arg column="DLIVE_TEXT" javaType="string" />
			<arg column="IMG_PATH" javaType="string" />
			<arg column="USER_SEQ" javaType="string" />
			<arg column="GT_DLIVE_TYPE" javaType="string" />
		</constructor>
	</resultMap>

	<select id="selectIfAttending" resultType="_int" parameterType="string">
		<![CDATA[
		-- 회원 CHESS 분원 재원 여부
		SELECT COUNT(1) AS CNT -- RETURN : 1 재원, 0 비재원
		FROM TB_CLS_USER CU, TB_CLS_MST CM, TB_DEPT D
		WHERE CM.CLS_SEQ = CU.CLS_SEQ
		      AND D.DEPT_SEQ = CM.DEPT_SEQ
		      AND D.GT_DEPT_COURSE = 'DP2001' -- CHESS 분원
		      AND CM.GT_CLS_STATE = 'CL1001' -- 반상태 수업
		      AND TO_CHAR(SYSDATE, 'YYYYMMDD') BETWEEN CU.START_DT AND CU.END_DT -- 오늘 회원 수업 기간 확인
		      AND TO_CHAR(SYSDATE, 'YYYYMMDD') BETWEEN CM.START_DT AND CM.END_DT -- 오늘 반 수업 기간 확인
		      AND CU.USER_SEQ = #{userSequence} -- 변수 회원 SID (TB_US_USER.USER_SEQ)
		      AND ROWNUM < 2 -- 리턴값이 1 또는 0 조건식
		]]>
	</select>

	<select id="selectUploadCount" resultType="_int" parameterType="string">
		<![CDATA[
		SELECT COUNT(1)
		FROM TB_H1K_EVENT_DLIVE
		WHERE USER_SEQ = #{userSequence}
		      AND USE_YN = 'Y'
		]]>
	</select>

	<insert id="insertIntoTimeDay">
		<![CDATA[
		INSERT INTO TB_H1K_TIME_DAY (H1K_DAY_SEQ, GT_STATS_TYPE, USER_SEQ, BASE_DT, TIME_SUM, CLS_SEQ, NOTE, REG_TS, REG_USER_SEQ, REG_USER_NM)
		VALUES (H1K_DAY_SEQ.NEXTVAL, '1K1010', #{userSequence}, TO_CHAR(SYSDATE, 'YYYYMMDD'), 300, NULL, #{dliveSequence}, SYSTIMESTAMP, #{userSequence}, #{userName})
		]]>
	</insert>

	<insert id="insertText" parameterType="com.gojls.secret.model.ContentToUpload" useGeneratedKeys="true" keyColumn="H1K_DLIVE_SEQ" keyProperty="id">
		<![CDATA[
		INSERT INTO TB_H1K_EVENT_DLIVE (H1K_DLIVE_SEQ, GT_DLIVE_TYPE, DLIVE_TEXT, IMG_PATH, USER_SEQ, USE_YN, REG_TS, REG_USER_SEQ, REG_USER_NM)
		VALUES (H1K_DLIVE_SEQ.NEXTVAL, '1K3002', #{text}, NULL, #{userSequence}, 'Y', SYSTIMESTAMP, #{userSequence}, #{userName})
		]]>
	</insert>
	<insert id="insertImage" parameterType="com.gojls.secret.model.ContentToUpload" useGeneratedKeys="true" keyColumn="H1K_DLIVE_SEQ" keyProperty="id">
		<![CDATA[
		INSERT INTO TB_H1K_EVENT_DLIVE (H1K_DLIVE_SEQ, GT_DLIVE_TYPE, DLIVE_TEXT, IMG_PATH, USER_SEQ, USE_YN, REG_TS, REG_USER_SEQ, REG_USER_NM)
		VALUES (H1K_DLIVE_SEQ.NEXTVAL, '1K3001', #{text}, #{imageUrl}, #{userSequence}, 'Y', SYSTIMESTAMP, #{userSequence}, #{userName})
		]]>
	</insert>
</mapper>
