<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gojls.math.index.dao.IndexDao">
	<select id="selAdCount" parameterType="ad" resultType="integer">
	<![CDATA[ SELECT COUNT(1) AS CNT FROM GOJLS.TB_AD_HIST WHERE AD_TYPE = #{adType} AND PARAM = #{param} ]]>
	</select>
	
	<insert id="insAd" parameterType="ad">
	<![CDATA[ INSERT INTO GOJLS.TB_AD_HIST ( AD_SEQ, AD_TYPE, PARAM, REG_DT) VALUES(GOJLS.TB_AD_HIST_AD_SEQ.NEXTVAL, #{adType}, #{param}, SYSTIMESTAMP) ]]>
	</insert>	
</mapper>
